# the local changes shall not show up in the status list
_config.yml

# platform dependent python byte code files.
*.pyc

# temporary vi files.
*.sw*

#nonsense
*DS_Store
*ignore*
*~
.sass-cache
.jekyll-metadata

# Ruby / Bundler
.bundle/
# remove all vendor/ if needed in future
vendor/bundle/
_site/
.jekyll-cache/
